@import url(https://fonts.google.com/specimen/Bai+Jamjuree);



:root {
    --Strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --Dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%)
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


body {
    font-family: 'Bai Jamjuree', sans-serif;
    width: 100%;
    height: 100vh;
    height: 100%;
    overflow-x: hidden;

}

.header-section{
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    background-position: fixed;
}

.header-element{
    align-items: center;
    text-align: center;

}

.header-image{
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
}

.header-h1{
    color: var(--Dark-grayish-blue);
    margin-bottom: .5em;

}

.header-paragraph{
    color: var(--grayish-blue);
    margin-bottom: 1.5em;

}

.header-button{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.btn1-header-button{
    background-color:  var(--Strong-cyan);
    color: white;
    border: none;
    border-radius: 10em;
    padding: 1em 2em;
    box-shadow: 1px 1px 1px var(--Strong-cyan);
}

.btn2-header-button{
    background-color:var(--light-blue);
    color: white;
    border: none;
    border-radius:10em;
    padding: 1em 2em;
    box-shadow: 1px 1px 1px var(--light-blue);
}

.tract-section{
    align-items: center;
    text-align: center;
    margin-top: 5em;
}

.track-h1{
    color: var(--Dark-grayish-blue);
    margin-bottom: 1.5em;
}

.track-paragraph{
    color: var(--grayish-blue);
    margin-bottom: 5em;
}

.container-image img{
    max-width: 100%;
    height: auto;
}

.container{
    display: flex;
    flex-direction: row;
}

.container-elements{
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-top: 0.5em;
    gap: 2em;
    margin-left: 7.5em;
    
}

.container1-h1{
    color: var(--Dark-grayish-blue);
}

.container1-p1{
    color: var(--grayish-blue);
}


.access-section{
    align-items: center;
    text-align: center;
}

.access-elements{
    align-items: center;
    text-align: center;
    margin-top: 4em;
    width: 100%;
}

.access-h1{
    color: var(--Dark-grayish-blue);
    margin-bottom: 1em;
}

.access-paragraph p{
    color: var(--grayish-blue);
    margin-bottom: 2em;
    
    

}

.access-image img{
    max-width: 100%;
    height: auto;
    align-items: center;
    margin-left: 3em;
}

.Supercharge-section{
    margin-top: 4em;
    align-items: center;
    text-align: center;
}


.Supercharge-h1{
    color: var(--Dark-grayish-blue);
    margin-bottom: 1em;
}

.Supercharge-p{
    color: var(--grayish-blue);
    margin-bottom: 2rem;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4em;
    gap: 5em;
}

.flex-container img{
    max-width: 100%;
    height: auto;
    margin-bottom: 2em;
    margin-left: 7em;
    
}

.flex-h3{
    color: var(--Dark-grayish-blue);
    margin-bottom: 1em;
    margin-left: 3em;
}

.flex-p{
    color: var(--grayish-blue);
    line-height: 1.5;
    text-indent: -1em;
}

.flex-box{
    margin-top: 6em;
}

.flex-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.board{
    margin-top: 4em;
    align-items: center;
    text-align: center;
}

.board-h2{
    color: var(--Dark-grayish-blue);
    margin-bottom: 1em;
}

.board-p{
    color: var(--grayish-blue);
    margin-bottom: 1.5em;
}


.board-btn{
    display: flex;
    gap: 1em;
    justify-content: center;

}

.board-btn-1{
    background-color: var(--Strong-cyan) ;
    border: none;
    border-radius: 10em;
    padding: 1em 2em;
    box-shadow: 1px 1px 1px var(--Strong-cyan);
    color: white;
}

.board-btn-2{
    border: none;
    border-radius:10em;
    padding: 1em 2em;
    box-shadow: 1px 1px 1px var(--light-blue);
    color: white;
    background-color: var(--light-blue);
}

.flex-bag{
    margin-top: 5em;
    display: flex;
    justify-content: space-around;
    background-color:rgb(250, 246, 246);
    margin-bottom: 1em;

}

.flex-item-start img{
    max-width: 35%;
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
}

.flex-item-middle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5em;
}

.flex-item-middle h4 , p{
    color: var(--grayish-blue);
    
}

.flex-item-middle h4{
    margin-top: 1em;
    margin-bottom: .5em;
}

.flex-item-end{
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.flex-item-end img{
    max-width: 20%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* repsonsiveness for table screen */
@media(min-width:768px){
   body{
    width: 100%;
    height: 100vh;
    line-height: 1.5;
    overflow-x: hidden;
   } 

   .header-element{
    display: flex;
    flex-direction: column;

   }

   .header-h1-break{
    display: block;
    line-height: 1.5;
   }

   .header-p-break{
    display: block;
    line-height: 1.5;
   }

   
   .header-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
   }

   .track-h1-break{
    display: block;
    line-height: 1.5;
   }

   .track-p-break{
    display: block;
    line-height: 1.5;

   }

   .ignore-br{
    display: none;
   }

   .container{
    display: flex;
    flex-direction: column;
    width: 100%;
   }

    .container-elements{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   } 

   .container1-h1{
    margin-left: 9em;
    margin-top: 3em;

   }
   .container1-p1{
    margin-left: 9em;
   }

   .p-container-break{
    display: block;
   }

   .access-section{
    margin-top: 7rem;
    align-items: center;
   }
   
   .clip-break{
    display: block;
   }

   .access-image img{
    margin-top: 4em;
    margin-right: 40em;
   }

   .super-break{
    display: block;
   }

   .flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15rem;
    margin-top: 7em;
   }

   .flex-break{
    display: block;
   }

   .flex-box{
    align-items: center;
    margin-left: 19em;
   }

   .flex-elements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:5em ;

   }

   .board-break{
    display:block ;
   }

   .board-btn{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 1em;
    margin-left: 19em;
    margin-bottom: 8em;
   
   }

   .flex-bag{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
   
   }

   .flex-item-start img{
    max-width: 10%;
    margin-top: 3em ;
    margin-bottom: 2.5em;
    margin-left: 21em;
   }

   .flex-item-middle{
    display: flex;
    flex-direction: column;
    margin-left: 21em;
    gap: 1em;
   }

   .flex-item-end{
    display: flex;
    margin-right: 22em;
   }

   .flex-item-end img{
    max-width: 4%;
   }



   

   

   



}



    

   











  